<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

	<servlet>
		<servlet-name>createStream</servlet-name>
		<servlet-class>com.adnan.CreateStreamServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>createStream</servlet-name>
		<url-pattern>/createStreamServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>uploadImage</servlet-name>
		<servlet-class>com.adnan.UploadImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>uploadImage</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>search</servlet-name>
		<servlet-class>com.adnan.SearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>search</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>manage</servlet-name>
		<servlet-class>com.adnan.ManageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>manage</servlet-name>
		<url-pattern>/manage</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>subscribe</servlet-name>
		<servlet-class>com.adnan.SubscribeStreamServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>subscribe</servlet-name>
		<url-pattern>/subscribe</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>digest</servlet-name>
		<servlet-class>com.adnan.DigestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>digest</servlet-name>
		<url-pattern>/digest</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>rollPage</servlet-name>
		<servlet-class>com.adnan.RollPageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>rollPage</servlet-name>
		<url-pattern>/rollPage</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>sendreport</servlet-name>
		<servlet-class>com.adnan.SendReportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>sendreport</servlet-name>
		<url-pattern>/sendreport</url-pattern>
	</servlet-mapping>


	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>